<p>Ashdown Landscapes are a husband and wife landscaping team based in Driffield, East Yorkshire, offering all aspects of landscaping work including:</p>

<ul>
  <li>- Patios and paths</li>
  <li>- Driveways</li>
  <li>- Fencing</li>
  <li>- Garden walls</li>
  <li>- Turfing</li>
  <li>- Decking and raised planters</li>
</ul>

<p>They cover Malton, Bridlington, Beverley, York and surrounding areas.</p>

<p>They are a dedicated and reliable team that work closely with the customer to offer a landscaping solution that is tailor made to exceed the customers requirements.</p>
