<p>For more information or to arrange a free consultation please contact Stephen or Sarah.</p>

<div class="labels">
  <p>Telephone:</p>
  <p>Email:</p>
</div>

<div class="details">
  <p><%= link_to "01377 256863", "tel:01377 256863" %></p>
  <p><%= link_to "stephen@ashdownlandscapes.co.uk", "mailto:stephen@ashdownlandscapes.co.uk" %></p>
</div>
