<% @photos.each do |chunk| %>
  <div class="thumnail-row">
    <% chunk.each do |i| %>
      <div class="thumnail">
        <div class="border">
          <%= link_to image_tag("thumnails/_#{i}.jpg"), image_path("highres/_#{i}.jpg") %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @photos.size == 1 %>
  <div class="thumnail-row"></div>
<% end %>

<nav class="pages">
  <% 1.upto(@total_pages) do |page| %>
    <% klass = "selected" if page == @current_page %>
    <%= link_to page, url_for(page: page), class: klass %>
  <% end %>
</nav>
